class <%= anyone_class_name %>Form < Form
  <%- if options.doc? -%>
  # Whitelist top-level parameter names for Interview, e.g.
  #
  #   given params: { form: { living_situation: "stable_housing" } }
  #
  #   set_attributes_for :interview, :living_situation
  #
  # Delete the method if you aren't updating the Interview.
  <%- end -%>
  set_attributes_for :interview, :<%= anyone_model_method %>

  <%- if options.doc? -%>
  # Add any validations below. Be sure to include helpful error messages.
  <%- end -%>
  validates_inclusion_of :<%= anyone_model_method %>, { in: %w{yes no}, message: "Make sure to choose an option." }

  def save
    interview.update(attributes_for(:interview))
  end
end
