<% content_for :card_title, "What are you helping the client with today?" %>

<% content_for :card_illustration do %>
  <div class="illustration emoji--big emoji--star">Star</div>
<% end %>

<% content_for :card_footer do %>
  <%= form_with url: current_path, method: :put, local: true do %>
    <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
      <div class="form-question">
        <%= f.cfa_single_tap_button(:interview_type,
                                    "Submit an application",
                                    "application",
                                    classes: ["button--primary"]) %>
      </div>

      <div class="form-question">
        <%= f.cfa_single_tap_button(:interview_type,
                                    "Submit a renewal",
                                    "renewal",
                                    classes: ["button--primary"]) %>
      </div>
    <% end %>
  <% end %>
<% end %>
