require "rails_helper"

RSpec.describe <%= details_class_name %>Controller do
  it_behaves_like "form controller base behavior"
  it_behaves_like "form controller successful update", {
    attribute: "value",
  }
  it_behaves_like "form controller unsuccessful update"

  describe "#show?" do
    context "when someone in household is <%= model_method %>" do
      it "returns true" do
        application = create(:interview, <%= anyone_model_method %>: "yes"))

        show = <%= details_class_name %>Controller.show?(application)
        expect(show).to eq(true)
      end
    end

    context "when no one in household is <%= model_method %>" do
      it "returns false" do
        application = create(:interview, <%= anyone_model_method %>: "no"))

        skip_step = <%= details_class_name %>Controller.show?(application)
        expect(skip_step).to eq(false)
      end
    end
  end
end
