class <%= details_class_name %>Controller < FormsController
  layout "left_aligned"
  <%- if options.doc? -%>
  # Specify under what conditions controller should be accessible:
  # (By default it will always be shown)
  <%- end -%>
  def self.show_rule_sets(interview)
    super << interview.<%= anyone_model_method %>_yes?
  end
end
