<p>
  <strong>What if I disagree with a decision made?</strong>
</p>
<p>
  You have the right to discuss any action taken on your application or case with a caseworker or supervisor. If you think theDivision of Public Assistance or Federally Facilitated Marketplace has made a mistake on your health insurance determination
  or the Division of Public Assistance has made a mistake on your benefits determination, you can appeal its decision. To appeal
  means to tell someone at the Division of Public Assistance or the Federally Facilitated Marketplace that you think the action
  is wrong, and ask for a fair hearing review of the action. The request for Food Stamps may be made to any employee of the
  Division in person, by telephone, or in writing; requests for all other programs must be made in writing. If your disagreement
  has to do with medical billing or services, contact the Medicaid Recipient Information Helpline at 1-800-780-9972. Usually,
  you must ask for a fair hearing within 30 days from the date of the notice. Food Stamp fair hearing requests must be made
  within 90 days from the effective date of the action. At the hearing you may represent yourself or be represented by a legal
  representative. You may qualify for free legal advice and representation by contacting the Alaska Legal Services Corporation.
</p>
<p>
  You may continue to receive Alaska Temporary Assistance, Adult Public Assistance, or Medicaid program benefits until a hearing
  decision is made. Food Stamps can continue until a hearing decision is made or until the certification period ends if you request
  the hearing before the effective date of the action or within 10 days from the date the notice was mailed. If the hearing decision
  is not in your favor you may be required to repay benefits you received while you waited for the decision.
</p>
<p>
  <strong>My right to appeal</strong>
</p>
<p>
  I know that I can find out how to appeal by contacting the Division of Public Assistance or the Marketplace at 1-800-318-2596. I
  know that I can be represented in the process by someone other than myself. My eligibility and other important information will
  be explained to me.
</p>
<p>
  <strong>When do I need to report changes?</strong>
</p>
<p>
  You must report changes in your household within 10 days of when you know of the change. If you receive Alaska
  Temporary Assistance and a child leaves your home, you must report this within 5 days.
</p>
<p>
  <strong>What changes do I need to report?</strong>
</p>
<p>
  If you receive Health Insurance Benefits authorized by the Federally Facilitated Marketplace or Public Assistance Medicaid, you
  must report any and all changes to information provided in this application, including changes in your medical insurance.
</p>
<p>
  If you receive Food Stamps and you do not receive benefits from any other program, you only need to report when your
  household’s total gross income goes over the income limit for your household.
</p>
<p>
  If you receive public assistance services, the changes you must report include, but are not limited to the following:
</p>
<ul class="list--bulleted">
  <li>Starting or stopping a job, change in wage rate, change from part-time to full-time, or full-time to part-time</li>
  <li>When money you receive from sources other than working changes by more than $50</li>
  <li>Someone moves into or out of your home</li>
  <li>You move or get a new mailing address</li>
  <li>Your household gets a vehicle</li>
  <li>Your household has more than $2250 total in cash and money in bank</li>
  <li>Changes in your child support payment or obligation</li>
  <li>Changes in your medical insurance if you or anyone in your household gets Medicaid</li>
  <li>Pregnancy changes</li>
</ul>
<p>
  <strong>Will I need to work?</strong>
</p>
<p>
  To receive Alaska Temporary Assistance or Food Stamp benefits, you may have to participate in work activities. Alaska
  Temporary Assistance participants must prepare a Family Self-Sufficiency Plan for becoming financially independent. You must
  participate in approved work activities unless you qualify for an exemption. If you are an unmarried minor parent, to receive
  Alaska Temporary Assistance you must live with a parent or in another approved living arrangement and attend school or
  training. If you do not fulfill these work requirements or minor parent requirements, your benefits may be reduced or ended.
</p>
<p>
  <strong>What happens with my Child Support?</strong>
</p>
<p>
  Alaska must collect child support and medical support from any parent who has the duty to pay support for a child receiving
  Alaska Temporary Assistance or Medicaid. This includes any money owed to you at the time you apply, as well as current and
  future child support payments. Any child support payments given or paid to you while receiving Alaska Temporary Assistance
  benefits must be reported and turned over to the State immediately. To change a child support order, you must obtain a new
  court order or get permission from the Child Support Services Division (CSSD). If you believe you have a good reason not to
  cooperate with CSSD for these programs, you must tell your caseworker immediately. You may be asked to provide information
  to support your reason.
</p>
<p>
  <strong>When you apply for Alaska Temporary Assistance you must:</strong>
</p>
<p>
<ul class="list--bulleted">
  <li>Sign over to CSSD your right to receive and keep child support payments due to you or a child on Alaska Temporary
    Assistance.</li>
  <li>Cooperate with CSSD in establishing paternity.</li>
  <li>Agree not to make purchases with or to access the cash benefits on your EBT card at ATMs that are located in bars,
    liquor stores, gambling or adult entertainment establishments.</li>
</ul>
</p>
<p>
  <strong>When you apply for Medicaid you must:</strong>
</p>
<p>
<ul class="list--bulleted">
  <li>Assign to the State of Alaska all rights to any medical support or other third party payments to the extent the
    department has paid medical assistance for care and services for you or your minor children.</li>
  <li>Cooperate with and assist the department in identifying and providing information concerning third parties who may
    be liable to pay for care and services received for you or your minor children.</li>
  <li>Agree to apply for all other available third-party resources that may be used to provide or pay for the cost of care or
    services received by you or your minor children or that may be used to reimburse the state for the cost of care or
    services received.</li>
  <li>Cooperate with CSSD in establishing paternity.</li>
  <li>If applying for long-term care services, including Home and Community Based Waiver services, assign to the State of
    Alaska as a remainder beneficiary, or as the second remainder beneficiary after your spouse or minor or disabled child,
    for any interest that you may have in an annuity up to the amount of Medicaid benefits received.</li>
</ul>
</p>
<p>
  <strong>Can the State of Alaska take my estate?</strong>
</p>
<p>
  The estate of an individual age 55 years of age or older who received Medicaid benefits may be subject to a claim for recovery.
  This is limited to the reimbursement of services received while the recipient was in a medical institution, including a nursing
  home or other medical institution, or was receiving home- and community-based services. Under limited conditions, the State
  of Alaska may place a lien on a recipient’s home. However, most estate recovery is conducted after the death of the recipient
  or the recipient’s surviving spouse, if any, and only at a time when the recipient has no surviving child under age 21 and no
  surviving child who is blind or disabled.
</p>
<p>
  <strong>Will someone from the Division of Public Assistance come to my home?</strong>
</p>
<p>
  A Division of Public Assistance worker may visit you at home to verify your eligibility for assistance. We may also visit you to
  complete case management activities such as Family Self-Sufficiency Plans. If you are not completing the activities, we may visit
  you to determine whether you have good cause for not doing so.
</p>
<p>
  <strong>How are my rights protected?</strong>
</p>
<p>
  The Division of Public Assistance will collect information, including the Social Security number (SSN) of each household member
  who is applying for Food Stamps, Alaska Temporary Assistance, or Medicaid, to determine eligibility for public assistance
  benefits. The Division will verify this information through computer matching programs, including the Income and Earnings
  Verification System (IEVS). This information will be used to monitor compliance with program regulations and for program
  management. The Division may disclose this information to other Federal and State agencies for official examination, to
  law enforcement officials for the purpose of apprehending persons fleeing to avoid the law, and to private claims collection
  agencies for claims collection action. The Division may verify immigrant status of household members by contacting the U.S.
  Citizenship and Immigration Services (USCIS). Information obtained from these agencies may affect your eligibility and level of
  benefits.
</p>
<p>
  Providing the requested information, including the SSN of each household member for whom you are seeking benefits, is
  voluntary. However, failure to provide this information will result in the denial of benefits to each individual failing to provide an
  SSN. Any SSN provided will be used and disclosed in the same manner, regardless of the eligibility of the individual. The Division
  of Public Assistance can assist you in applying for a Social Security Number if you are seeking benefits and do not have one.
  When you sign the application for assistance and use Medicaid or Chronic & Acute Medical Assistance coupons, you consent to
  release medical records and information about yourself and any other person you are applying for to the Department of Health
  and Social Services (DHSS). Upon request, any person who has medical records and information or the custody of such records
  shall release those records to the Department or a representative of the department.
</p>
<p>
  Health or medical information DHSS may have about you is protected under the Health Insurance Portability and Accountability
  Act (HIPAA) of 1996. This federal law provides you with certain rights about how your health information is used and disclosed.
  The law allows you to find out how DHSS used your health information, and how DHSS has disclosed your health information
  outside of DHSS. The law also limits the release of information about you to the minimum amount necessary for the purpose
  of the disclosure and allows you to examine and obtain a copy of your own health records and to request corrections to those
  records.
</p>
<p>
  You can get an electronic copy of the Notice of Privacy Practices at <a href="http://dhss.alaska.gov/fms/its/Documents/privatehealthcareinfo.pdf">http://dhss.alaska.gov/fms/its/Documents/privatehealthcareinfo.pdf</a>. Request a printed copy by writing to State of Alaska, DHSS Privacy Official, and P. O. Box 110650,
  Juneau, Alaska 99811-0650 or by email at privacyofficial@alaska.gov.
</p>
<p>
  In accordance with federal law and U.S. Department of Agriculture (USDA) and U.S. Department of Health & Human Services
  (HHS) policy, this institution is prohibited from discriminating on the basis of race, color, national origin, sex, age, or disability.
  Under the Food Stamp Act and USDA policy, discrimination is prohibited also on the basis of religion or political beliefs.
  To file a complaint of discrimination, contact USDA or HHS. Write to USDA, Director, Office of Civil Rights, Room 326-W, Whitten
  Building, 1400 Independence Avenue,SW, Washington, D.C. 20250-9410 or call (800) 795-3272 (voice) or(202) 720-6382 (TDD).
  Or write to HHS Office for Civil Rights, 2201 Sixth Avenue – Mail Stop RX-11, Seattle, WA 98121 or call (800) 368-1019 (voice) or
  (800) 537-7697 (TDD). USDA and HHS are equal opportunity providers and employers.
</p>
<p>
  If you have questions about the Americans with Disabilities Act of 1990, contact the Division of Public Assistance Civil Rights
  Coordinator at (907) 465-3347.
</p>
<p>
  <strong>Responsibility for Overpayment</strong>
</p>
<p>
  If you receive an overpayment of Public Assistance benefits or receive services to which you are not entitled, you may be
  financially responsible for repaying the overpayment or cost of services to the State of Alaska. This may be true even if the
  overpayment or improper authorization of services is due to an error on the part of the Department of Health and Social
  Services . By accepting benefits or services, you must understand and agree that you may have a responsibility for the
  repayment of benefits or services to which you were not entitled.
</p>

