<% content_for :card_illustration do %>
  <i class='illustration illustration--scanner is-tablet-hidden'></i>
<% end %>
<% content_for :card_title do %>
  <span class="is-desktop-hidden">Taking photos of documents.</span>
  <span class="is-tablet-hidden">Take a moment to scan in any documents that are required.</span>
<% end %>

<% content_for :card_body do %>
  <div class="vertical-steps text--centered is-desktop-hidden">
    <div class="vertical-steps__step">
      <p>Make sure you are in a well-lit area.</p>
    </div>
    <div class="vertical-steps__step">
      <p>Take a photo from directly above, not at an angle.</p>
    </div>
    <div class="vertical-steps__step">
      <p>Check if the photo is legible and retake if necessary.</p>
    </div>
  </div>
<% end %>
