<% content_for :card_title, "Is there anyone on the #{application_or_renewal} who usually lives in the house but is <strong>away from home?</strong>".html_safe %>

<% content_for :card_body do %>
  <ul class="highlighted">
    <div>For example:</div>
    <li>Going to college</li>
    <li>On military duty</li>
    <li>Doing remote work</li>
    <li>Serving prison time</li>
  </ul>
<% end %>

<% content_for :card_footer do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.button name: "form[any_away_from_home]", value: "yes", class: "button" do %>
      <i class="button__icon--left icon-check green-check"></i>Yes
    <% end %>

    <%= f.button name: "form[any_away_from_home]", value: "no", class: "button" do %>
      <i class="button__icon--left icon-close red-x"></i>No
    <% end %>
  <% end %>
<% end %>
