<div class="main-footer">
  <p class="text--help">FeeAgentAssister is a service delivered by <a class="link--subtle" href="https://www.codeforamerica.org/">Code for America</a> on behalf of the people of Alaska. All rights reserved &copy; 2018.</p>
</div>