<div class="vertical-steps text--centered">
  <div class="vertical-steps__step">
    <%= render "shared/how_it_works_step1" %>
  </div>
  <div class="vertical-steps__step">
    <%= render "shared/how_it_works_step2" %>
  </div>
  <div class="vertical-steps__step">
    <%= render "shared/how_it_works_step3" %>
  </div>
</div>
