<div class="illustration illustration--proof"></div>
<h4>Attach the <%= current_interview&.navigator&.interview_type || "application or renewal form"%> and verification docs.</h4>
<p class="text--small">
  We'll help snap photos or upload the <%= current_interview&.navigator&.interview_type || "forms" %> and any relevant proof. The documents will not be saved on your device.
</p>