<div class="illustration illustration--send"></div>
<h4>Hit send!</h4>
<p class="text--small">
  The <%= current_interview&.navigator&.interview_type || "application or renewal" %>, fee agent interview form, and attached verifications will be securely sent to the DPA office within seconds.
</p>