<div class="illustration illustration--proof"></div>
<h4>Attach the application or review form and verification docs.</h4>
<p class="text--small">We'll help snap photos or upload the forms and any relevant proof. The documents will not be saved on your device.</p>