<% content_for :card_title, "Does the #{applicant_or_client} want to apply for <strong>interim assistance</strong>?".html_safe %>

<% content_for :card_body do %>
  <div class="reveal">
    <p><a href="#" class="reveal__link">What is interim assistance?</a></p>
    <div class="reveal__content text--centered">
      <p>Interim Assistance is a state program paying up to $280 per month to people who are waiting for final decisions about whether they are eligible for disability benefits from the SSA.</p>

        <a href="https://alaskalawhelp.org/resource/interim-assistance-frequently-asked-questions" target="_blank">Click here to learn more</a>
    </div>
  </div>

  <p>If yes, the applicant will need to fill out and return a Preliminary Examination for Interim Assistance Form (<strong>AD2</strong>) and a Authorization for Reimbursement of Interim Assistance form (<strong>GEN 142- IAR</strong>).</p>
<% end %>
