<% content_for :card_title, "Lastly, let's attach the #{application_or_renewal} and any required documents." %>

<% content_for :card_illustration do %>
  <% render partial: "components/molecules/progress_step_bar", locals: { current_step: 3, step_count: 3 } %>
<% end %>

<% content_for :card_body do %>
  <div class="is-tablet-hidden--inline">
    <p>
      If you are doing this on a computer, you can scan documents to your computer and upload them in the follow section.
    </p>
  </div>

  <div class="is-desktop-hidden--inline">
    <p>
      If you are doing this on a smartphone or tablet device, you can use the camera on the back of the device to take a picture of any documents.
    </p>

    <p>
      <strong>
        Photos will not be saved to your device.
      </strong>
    </p>
  </div>
<% end %>
