<%% content_for :card_title, "Template" %>

<%% content_for :card_help, "Here's what you do" %>

<%% content_for :card_body do %>
    <%%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%% end %>
<%% end %>
