.template--homepage .slab--hero:before {
  background-image: image-url('mel_daniella.jpg');
}

.template--homepage {
  text-align: center;
}

.illustration--interview {
  width: 40px;
  height: 80px;
}

.illustration--proof {
  background-image: image-url('proof.png');
  width: 40px;
  height: 80px;
}

.illustration--send {
  background-image: image-url('send.png');
  width: 40px;
  height: 80px;
}

ul.highlighted {
  white-space: pre-line;
}

.highlighted li {
  display: inline-block;
  background-color: #FEFEC5;
  margin-bottom: 10px;
  padding: 0 0.7em;
}
