.template--homepage .slab--hero:before {
  background-image: url(/assets/mel_daniella.jpg);
}

.template--homepage {
  text-align: center;
}

.illustration--interview {
  width: 40px;
  height: 80px;
}

.illustration--proof {
  background-image: url(/assets/proof.png);
  width: 40px;
  height: 80px;
}

.illustration--send {
  background-image: url(/assets/send.png);
  width: 40px;
  height: 80px;
}

