.template--homepage .slab--hero:before {
  background-image: image-url('mel_daniella.jpg');
}

.template--homepage {
  text-align: center;
}

.illustration--interview {
  width: 40px;
  height: 80px;
}

.illustration--proof {
  background-image: image-url('proof.png');
  width: 40px;
  height: 80px;
}

.illustration--send {
  background-image: image-url('send.png');
  width: 40px;
  height: 80px;
}

.highlighted li {
  background-color: #FEFEC5;
  margin-bottom: 10px;
}
